.nav-bar {
  background-color: white;
  color: black;
  font-family: 'Dosis', sans-serif;
  position:fixed;
  width:100%;
    z-index:100;
}

.nav-link {
  color: black !important;
  margin-right: 5px;
}

.nav-link.active {
  color: grey!important;
}

.nav-link:hover {
  color: turquoise !important;
}

.nav-bar-brand {
  color: black;
}