.nav-bar {
  background-color: white;
  color: black;
  font-family: 'Vollkorn SC', serif;
}

.nav-link {
  color: black !important;
}

.nav-link.active {
  color: grey!important;
}

.nav-link:hover {
  color: turquoise !important;
}

.nav-bar-brand {
  color: black;
}